.requestForm {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    /* margin-top:5%; */
}

.formLabel {
    font-weight: 500;
    color: dodgerblue;
    padding-top: 5px;
    margin-right: 10px;
  }

.errorRequestTypeAlert {
    margin-top: -14px;
}

.errorAlert {
    margin-top: -8px;
}