#login-user,
#login-password,
#register-name,
#register-username,
#register-email,
#register-password,
#register-confirmpassword {
  background-color: transparent;
}

.ant-input-affix-wrapper {
  background-color: transparent;
}

.ant-input-affix-wrapper:hover {
  border: 2px solid #f9633a !important;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border: 1px solid #f9633a !important;
  box-shadow: 0 0 0 1px #f9633a;
  border-right-width: 1px;
  outline: 0;
}
.ant-input-password-icon.anticon {
  cursor: pointer;
  transition: all 0.3s;
}

.ant-input-password-icon.anticon:hover {
  cursor: pointer;
  transition: all 0.3s;
}


.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper {
  background-color: transparent;
}

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper,
.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper:hover {
  background-color: transparent;
}

